
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 147.6rem;
}.desktop-LP3 {
  width: 100%;
  height: 119.3rem;
  position: relative;
  background-color: #ffffff;
}
.desktop-LP3 .group-4-JUH {
  width: 27.9rem;
  height: 2.6rem;
  position: absolute;
  left: 62.3rem;
  top: 2.7rem;
  display: flex;
  align-items: flex-end;
}
.desktop-LP3 .group-4-JUH .products-LpH {
  margin: 0rem 3.3rem 0.2rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #18181b;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-LP3 .group-4-JUH .pricing-ysF {
  margin-right: 6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #18181b;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-LP3 .group-4-JUH .about-us-uku {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #18181b;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-LP3 .group-5-3MK {
  width: 31.9rem;
  height: 4.5rem;
  position: absolute;
  left: 113rem;
  top: 1.9rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}
.desktop-LP3 .group-5-3MK .customer-login-yEy {
  margin-right: 4.4rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #18181b;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-LP3 .group-5-3MK .sign-up-Gjs {
  box-sizing: border-box;
  padding: 0.85rem 0rem 0.85rem 2.8rem;
  width: 15.3rem;
  height: 100%;
  background-color: #000000;
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-LP3 .group-5-3MK .sign-up-Gjs .frame-1-YhP {
  width: 100%;
  height: 100%;
  text-align: right;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.75;
  color: #ffffff;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-LP3 .vjw-DHj {
  width: 9.6rem;
  height: 3.2rem;
  position: absolute;
  left: 3rem;
  top: 2.7rem;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 0.8333333333;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #000000;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-LP3 .rectangle-1-gh7 {
  width: 144.3rem;
  height: 51.2rem;
  position: absolute;
  left: 2.3rem;
  top: 10.8rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-LP3 .venkatesh-jewellery-works-oFw {
  width: 72.4rem;
  height: 13.6rem;
  position: absolute;
  left: 15.7rem;
  top: 29.6rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.171875;
  color: #000000;
  font-family: Sansita Swashed, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-LP3 .jewellery-or-jewelry-comes-from-an-old-french-word-joule-which-is-derived-from-a-latin-word-jocale-which-means-playing-HB7 {
  width: 62.5rem;
  height: 5.7rem;
  position: absolute;
  left: 15.7rem;
  top: 36.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-LP3 .group-6-7R3 {
  width: 31.3rem;
  height: 47.3rem;
  position: absolute;
  left: 9.4rem;
  top: 68.2rem;
}
.desktop-LP3 .group-6-7R3 .rectangle-2-RwX {
  width: 30.1rem;
  height: 33.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-LP3 .group-6-7R3 .rectangle-3-yCM {
  width: 31.3rem;
  height: 11.3rem;
  position: absolute;
  left: 0;
  top: 33rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-LP3 .group-6-7R3 .necklace-gsT {
  width: 19rem;
  height: 5.6rem;
  position: absolute;
  left: 5.5rem;
  top: 38.7rem;
  text-align: right;
  font-size: 4rem;
  font-weight: 500;
  line-height: 0.6;
  color: #000000;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
}
.desktop-LP3 .group-6-7R3 .item-1000-yrZ {
  width: 15.4rem;
  height: 4rem;
  position: absolute;
  left: 3.2rem;
  top: 43.3rem;
  text-align: right;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 0.75;
  color: #000000;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
}
.desktop-LP3 .group-7-58u {
  width: 31.1rem;
  height: 46.6rem;
  position: absolute;
  left: 52.7rem;
  top: 70.1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.desktop-LP3 .group-7-58u .rectangle-4-Bhj {
  margin-bottom: 5.7rem;
  width: 31.1rem;
  height: 31.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-LP3 .group-7-58u .sliver-ring-2500-geV {
  max-width: 27.4rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 0.6;
  color: #000000;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-LP3 .more-C73 {
  width: 35rem;
  height: 33.6rem;
  cursor: pointer;
  position: absolute;
  left: 98.7rem;
  top: 85.7rem;
  text-align: center;
  font-size: 9.6rem;
  font-weight: 500;
  line-height: 0.25;
  color: #000000;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
}
.venkatesh-jewellery-works-oFw:hover{
  font-size: 75px;
  image-rendering: auto;
}
image:hover{
  transition: all 5s ;
}
